<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="SmokeTest">
    <parameter name="Email" value="elon06820@gmail.com"/>
    <parameter name="Password" value="karthik22"/>
    <groups>
      <run>
        <include name="smoke"/>
      </run>
    </groups>
    <classes>
      <class name="com.Test.LoginTest"/>
    </classes>
  </test> <!-- SmokeTest -->

  <test name="AllmodulesTest">
    <parameter name="Email" value="elon06820@gmail.com"/>
    <parameter name="Password" value="karthik22"/>
    <groups>
      <run>
        <include name="BookModule"/>
        <include name="ComputerModule"/>
        
      </run>
    </groups>
    <classes>
      <class name="com.Test.LoginTest"/>
    </classes>
  </test> <!-- GeneralmodulesTest -->
</suite> <!-- Suite -->
